<div class="content-assigments">
  <div class="content-buttons">
    <coppel-title [titleComponent]="title"></coppel-title>
  </div>
  <div class="content-filters-data">
    <button
      mat-button
      mat-raised-button
      mat-primary
      float-end
      mat-margin
      color="primary"
      [disabled]="showDownloadButton"
      (click)="onDownloadFile()"
    >
      Descargar archivo
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        [(ngModel)]="controlInput"
        (keyup)="applyFilter($event)"
        placeholder="busqueda general"
        #input
      />
    </mat-form-field>

    <button
      mat-button
      mat-raised-button
      mat-primary
      float-end
      mat-margin
      color="primary"
      (click)="clearData()"
    >
      Recargar
    </button>
  </div>

  <!-- Iniciativa -->

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceInitatives" matSort>
      <ng-container matColumnDef="folio">
        <th mat-header-cell *matHeaderCellDef>Folio</th>
        <td mat-cell *matCellDef="let element">{{ element.folio }}</td>
      </ng-container>

      <ng-container matColumnDef="tituloIniciativa">
        <th mat-header-cell *matHeaderCellDef>Iniciativa</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tituloIniciativa }}
        </td>
      </ng-container>

      <ng-container matColumnDef="numIntegrantes">
        <th mat-header-cell *matHeaderCellDef>Num Colaboradores</th>
        <td mat-cell *matCellDef="let element">{{ element.numIntegrantes }}</td>
      </ng-container>

      <ng-container matColumnDef="porcentajeAvance">
        <th mat-header-cell *matHeaderCellDef>Porcentaje de avance</th>

        <td mat-cell *matCellDef="let element">
          <div class="content-porcentaje">
            <div>{{ element.porcentajeAvance }}%</div>
            <mat-progress-bar
              mode="determinate"
              [value]="element.porcentajeAvance"
            ></mat-progress-bar>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        (click)="loadDataColaboratorAsigments(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      >
        <!-- Row shown when there is no matching data. -->
      </tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No Hay resultados "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 15, 25, 100]"
      aria-label=" Paginas "
    ></mat-paginator>
  </div>

  <div class="content-filters-data">
    <button
      *ngIf="currentSelectedInitiative != 0"
      mat-button
      mat-raised-button
      color="primary"
      (click)="loadExtraColaborators()"
    >
      Añadir Colaboradores
    </button>

    <div>
      <h3>Asignar Colaboradores</h3>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilterColaboradores($event)"
        placeholder="busqueda general"

        [(ngModel)]="controlInputCollaborators"
        #input
      />
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceColaboradores" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="fulltime">
        <th mat-header-cell *matHeaderCellDef>PorcentajeLibre</th>
        <td mat-cell *matCellDef="let element">%{{ element.fulltime }}</td>
      </ng-container>

      <ng-container matColumnDef="porcentajeAsinacion">
        <th mat-header-cell *matHeaderCellDef>Porcentaje Asignado</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="estiloInputGrid" appearance="fill">
            <input
              numbersOnly
              matInput
              (keyup)="checkData($event)"
              [(ngModel)]="element.porcentajeAsinacion"
              placeholder="Porcentaje de avance"
              maxlength="3"
            />

            <div *ngIf="showErrorPorcentaje">
              <p>El valor no puede ser mayor a 100</p>
            </div>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsColaboradores"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsColaboradores"
      ></tr>
      <!-- (click)="selection.toggle(row)" -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No Hay resultados "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 15, 25, 100]"
      aria-label=" Paginas "
    ></mat-paginator>
  </div>
  <button (click)="saveChanges()" mat-button mat-raised-button color="accent">
    Guardar Cambios
  </button>
  <button
    (click)="showDeiail()"
    *ngIf="showDetailButton"
    mat-button
    mat-raised-button
    color="accent"
  >
    Mostrar Bitácora
  </button>
</div>
